venv/

__pycache__/
*.pyc

.vscode/

uploads/*
!uploads/old/
!uploads/new/
uploads/old/**
uploads/new/**
!uploads/old/.gitkeep
!uploads/new/.gitkeep
!uploads/**/.gitkeep

reports/

.DS_Store

Thumbs.db